.App {
  width: 100vw;
  height: 100%;
  /* display: flex;
  justify-content: space-between; */
}

#header {
  width: 100%;
  height: 3em;
  background: #ab2a19;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  /* margin: 5px; */
}

.test {
  width: 60%;
  background: #d34735;
  margin: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px;
}

.test > img {
  margin: 20px;
  border: 1px solid black;
}

.test > p {
  margin: 3px;
}

.test > button {
  margin: 5px;
}

/* product-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
} */

.mapped {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  margin: 10px;
}

.form-container {
  display: flex;
  align-items: space-between;
  width: 30%;
  /* height: 400px; */
  background: #3ad886;
  justify-content: space-around;
  /* position: fixed; */
}

/* .full-view {
  display: flex;
  justify-content: space-between;
} */

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.maybe {
  display: flex;
  justify-content: space-between;
}

img {
  max-width: 300px;
  max-height: 300px;
}